DUFFEL_ACCESS_TOKEN=
NEXT_PUBLIC_TRAVELPAYOUTS_MARKER=
TRAVELPAYOUTS_API_TOKEN=
# TRAVELPAYOUTS_USER_IP=
# RATE_LIMIT_PLACES_PER_MIN=120
# RATE_LIMIT_FLIGHT_SEARCH_PER_MIN=30
# RATE_LIMIT_BUDGET_SEARCH_PER_MIN=20
# RATE_LIMIT_TRAVELPAYOUTS_CLICK_PER_MIN=45
# RATE_LIMIT_DISABLED=1
